{
  "type": "mariadb",
  "host": "localhost",
  "port": 3306,
  "username": "whois",
  "password": "siohw",
  "database": "whois",
	"entities": ["src/**/*.entity.ts"],
	"migrations": ["migrations/*.ts"],
	"cli": {
		"migrationsDir": "migrations"
	}
}
